<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="MSSQL" connectionString="Password=Password1@;Persist Security Info=True;User ID=sa;Initial Catalog=Mutin;Data Source=89.252.34.204;"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
